<DOCTYPE html>
<html>
	<head>
		<title>A.C.T. Energy Drink</title>
		<link rel="stylesheet" type="text/css" href="products.css">
	</head>
			
		<script src="http://code.jquery.com/jquery-2.1.0.js">
		</script>
<body>
	<h1>A.C.T. ENERGY DRINK</h1> 
	<img src="../images/energydrink.jpg"></img>
	<p>Our delicious energy drink will give you a jolt of energy whenever you need it; this product can be used by anyone, from athletes to students and office workers. Now available in these two delicious flavors, Blue Fusion will power you through a workout, and Cherry Cola for when you just need a little juice to help you last through your day!</p> 
</body>
</html>