<!DOCTYPE html>
<html>
<head>
    <title>A.C.T. Energy</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/products.css">
</head>

<body>
    <header class="header">
        <h1 class="logo"><a href="#">A.C.T. <span>Energy</span></a>
        </h1>


        <div class="nav-wrap">
            <nav class="main-nav">
                <ul class="unstyled list-hover-slide">
                    <li>
                        <a href="home">Home</a>
                    </li>


                    <li>
                        <a href="about">About</a>
                    </li>


                    <li>
                        <a href="products">Products</a>
                    </li>


                    <li>
                        <a href="contact">Contact</a>
                    </li>
                </ul>
            </nav>


            <ul class="social-links list-inline unstyled list-hover-slide">
                <li>
                    <a href="##">Twitter</a>
                </li>


                <li>
                    <a href="##">Facebook</a>
                </li>
            </ul>
        </div>
    </header>


    <div id="wrapper">
        <div id="content">
        	<h1 id="title_head">Full List of Products</h1>
	        <div id="list_of_prods">
				<li class="prod_list"><span class="prod_list_text" onmouseover="changeImage('/energydrink.jpg')">ACT Energy Drink</span></li>
				<li class="prod_list"><span class="prod_list_text" onmouseover="changeImage('/gel.jpg')">ACT Energy Gel</span></li>
				<li class="prod_list"><span class="prod_list_text" onmouseover="changeImage('/snacks.jpg')">Act Energy Snacks</span></li>
				<li class="prod_list"><span class="prod_list_text" onmouseover="changeImage('/pills.jpg')">ACT Energy Supplements</span></li>
			</div>
			<img id="imagePreview" src="/energydrink.jpg">		
			<br>
			<a class="red" href="energy.html">Learn about our Energy drinks here!</a>
			<a class="red" href="gel.html">Click here for more info about our energy gel!</a>
			<a class="red" href="snacks.html">Want a delicious energy snack-click here!</a>
			<a class="red" href="pills.html">Energy supplements found here!</a>


            <footer>
                <div id="footer_content">
                    <p><span class="noticeme_f">WARNING</span>:</p>
                    <p>Do not drink this breverage if you have been to the
                    moon, seen aliens, or had diarrhea in the last 2 days.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.</p>
                </div>
            </footer>
	    </div>
    </div>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"
    type="text/javascript"></script> <script src="animate.js" type="text/javascript"></script>
  //   		<script>
		// 	var imageElement = document.getElementById("imagePreview");

		// 	function changeImage(imageName){
		// 		imageElement.src = imageName;
				
		// 	}
		// </script>
</body>
</html>