<DOCTYPE html>
<html>
	<head>
		<title>A.C.T. Energy Gel</title>
		<link rel="stylesheet" type="text/css" href="products.css">
	</head>
			
		<script src="http://code.jquery.com/jquery-2.1.0.js"></script>
<body>
	<h1>A.C.T. ENERGY GEL</h1> 
	<img src="../images/gel.jpg">
	<p>Our energy gel is currently designed for runners/hard-core athletes, as a replacement for carbohydrate stores depleted during a hard run or bout of exercise. This gel will wake you up and help your mind feel energized. Studies have shown it's better to take the gel early; approximately 30-45 minutes before you begin.</p> 
</body>
</html>