<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style type="text/css" href="style.css"></style>
</head>
<body>
	<div id="wrapper">
		<div id ="banner1">
			<div id ="navig">
				<nav>
					<ul>
						<li class="nav_home"><a href="home">Home</a></li>
						<li class="nav_about">About</li>
						<li class="nav_products">Products</li>
						<li class="nav_contact">Contact</li>

					</ul>


				</nav>			
			</div>
		</div>





	</div>

<script type="text/javascript" href="animate.js"></script>
</body>
</html>