<!DOCTYPE html>
<html>
<head>
    <title>A.C.T. Energy Home</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="header">
        <h1 class="logo"><a href="fullproducts">A.C.T. <span>Energy</span></a>
        </h1>


        <div class="nav-wrap">
            <nav class="main-nav">
                <ul class="unstyled list-hover-slide">
                    <li>
                        <a href="home">Home</a>
                    </li>


                    <li>
                        <a href="about">About</a>
                    </li>


                    <li>
                        <a href="products">Products</a>
                    </li>


                    <li>
                        <a href="contact">Contact</a>
                    </li>
                </ul>
            </nav>


            <ul class="social-links list-inline unstyled list-hover-slide">
                <li>
                    <a href="##">Twitter</a>
                </li>


                <li>
                    <a href="##">Facebook</a>
                </li>
            </ul>
        </div>
    </header>


    <div id="wrapper">
        <div id="content">
        <h1 id="title_head">A.C.T. ENERGY DRINK</h1>
        <br>    
        <p>"BECOME THE ENERGY YOU NEED!"</p>

        <p>ALL THE HYPE YOU NEED IN A BOTTLE</p><br>


        <div class="jumbotron">
            <div>
                <p><span class="noticeme" hoverMe="onhover()">WHAT IS ENERGY?</span></p><br>The strength and
                vitality required for sustained physical or mental activity.The key
                word is <span class="noticeme">SUSTAINED</span>. A.C.T. energy drink gives
                you so much energy, you would need Obama to tell you , you are not
                zorro.But I must explain to you how all this mistaken idea of
                denouncing pleasure and praising pain was born and I will give you
                a complete account of the system, and expound the actual teachings
                of the great explorer of the truth, the master-builder of human
                happiness. No one rejects, dislikes, or avoids pleasure itself,
                because it is pleasure, but because those who do not know how to
                pursue pleasure rationally encounter consequences that are
                extremely painful. Nor again is there anyone who loves or pursues
                or desires to obtain pain of itself, because it is pain, but
                because occasionally circumstances occur in which toil and pain can
                procure him some great pleasure. To take a trivial example, which
                of us ever undertakes laborious physical exercise, except to obtain
                some advantage from it? But who has any right to find fault with a
                man who chooses to enjoy a pleasure that has no annoying
                consequences, or one who avoids a pain that produces</p>


                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum to the place
                with all the big boys and girls dancing to the bubaba ollit anim id
                est laborum to the place with all the big boys and girls dancing to
                the</p>
            </div>
        </div>
        </div>
        <footer>
            <div id="footer_content">
                <p><span class="noticeme_f">WARNING</span>:</p>
                <p>Do not drink this breverage if you have been to the moon, seen aliens, or had diarrhea in the last 2 days. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</p>
            </div>
        </footer>
    </div>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type=
    "text/javascript"></script> <script src="animate.js" type="text/javascript"></script>
</body>
</html>