<!DOCTYPE html>
<html>
	<head>
		<title>A.C.T. Energy</title>
		<link rel="stylesheet" type="text/css" href="products.css">
	</head>

	<body>
		<div>
			<li><img src="../images/energydrink.jpg" 
			onmouseover="this.src='../images/gel.jpg'" 
			onmouseout="this.src='../images/energydrink.jpg'">
			</li> 
			<li><img src="../images/gel.jpg" onmouseover="this.src='../images/snacks.jpg'"onmouseout="this.src='../images/gel.jpg'"></li>
			<br>	
			<li><img src="../images/snacks.jpg" onmouseover="this.src='../images/pills.jpg'" onmouseout="this.src='../images/snacks.jpg'"></li>
			<li><img src="../images/pills.jpg" onmouseover="this.src='../images/energydrink.jpg'" onmouseout="this.src='../images/pills.jpg'"></li>
		</div>

	<p><a href ="products.html">Click here to learn more about our products today!</a></p>
	</body>
</html>