<DOCTYPE html>
<html>
	<head>
		<title>ACT Superfood Energy Snacks</title>
		<link rel="stylesheet" type="text/css" href="products.css">
	</head>		
		<script src="http://code.jquery.com/jquery-2.1.0.js"></script>

<body>
	<h1>A.C.T SUPERFOODS SNACKS</h1> 
	<img src="../images/snacks.jpg">
	<p>Craving a yummy snack? Our delicious energy snacks are exactly what you need! These hand-made treats come in the following flavors: Chocolate Goji Berries, Mint Chocolate Dream, Chocolate Cherry Rounds, and Brazilian Chocolate Ecstasy!</p> 
</body>
</html>